<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeLeaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card-header">
    <div class="row">
        <div class="col-md-3"><h3 align="left" th:text="${col.name}"></h3></div>
    </div>
</div>

<div class="container">
    <form class="form-group" method="post" enctype="multipart/form-data" action="http://localhost:8080/mycollections/edit">
        <label for="name">Collection name</label>
        <input type="text" placeholder="Enter collection name" class="form-control" id="name" name="name" th:attr="value = ${col.name}">
        <label for="Theme">Chose Theme</label>
        <select class="form-control" id="Theme" name="theme">
            <option>Books</option>
            <option>Cars</option>
            <option>Planes</option>
            <option>Wines</option>
        </select>
        <label for="desc">Enter description</label>
        <textarea class="form-control" id="desc" name="desc" th:text = "${col.information}"></textarea>

        <label for="file">Upload image</label>
        <input class="form-control" type="file" id="file" name="image">
        <input type="hidden" th:attr="value = ${col.id}" name="id">
        <input type="submit" value="Update" >
    </form>
</div>
<div class="container">
    <div class="card-header"><h3 align="left">Items</h3> <button class="btn btn-success" id="add_item" th:onclick="'javascript:addItem(\''  + ${col.id} +  '\');'">Add Item</button></div>
    <table class="table">
        <thead>
        <tr>
            <td>Name</td>
            <td>Tags</td>
            <td>Likes</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text = "${item.name}"></td>
            <td><p th:each = "tag : ${item.tags}" th:text = "${tag.name}"></p></td>
            <td><button class="btn btn-primary" style="margin-right:7px" th:onclick="'javascript:editItem(\''  + ${item.itemId} +  '\');'">Edit</button><button class="btn btn-danger" style="margin-right:7px">Remove</button></td>
        </tr>
        </tbody>

    </table>

</div>
<script language="JavaScript">
 function addItem(id){
location.href = "http://localhost:8080/mycollections/add/item/"+id;
 }

 function editItem(id){
location.href = "http://localhost:8080/mycollections/edit/item/"+id;
 }


</script>
</body>
</html>