<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeLeaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Add item</title>
</head>
<body>
<div class="card-header"><h3 align="left">New Item</h3></div>

<div class="container">
    <form class="form-group" action="https://itrcourseproject.herokuapp.com/mycollections/add/item/save" method="post" id="create_item">

        <input type="text" class="form-control" placeholder="Enter Item name" name="name" id="namei">
        <div style="display: flex; flex-wrap:wrap;flex-direction:row;border: 1px solid grey; border-radius:15px;" id="tags">
        </div>
        <input type="search" list="data" class="form-control" id="tag_add" placeholder="Enter Tag"><br>
        <datalist id="data">
            <div style="display:none" th:each = "tag:${tags}">
                <option th:text = "${tag.name}"></option>
            </div>
        </datalist>
        <button class="btn btn-primary" onclick="addTag(event)" id="btntag">Add Tag</button> <!--- Add tag validation -->
        <input type="hidden" name="tags" id="tags_input">
        <input type="hidden" th:attr="value = ${col_id}" name="collectionId">
        <input type="hidden" name="data" id="data1">

        <br>
        <div>
            <table class="table" id="inputs">


            </table>
        </div>
        <button class="btn btn-success" onclick="prepare(event)" id="create">Create</button>
    </form>
</div>
<script language="JavaScript" th:inline="javascript">

var fields_data = [[${col_data}]];
var fields = JSON.parse(fields_data);
var inputs = document.getElementById("inputs");

var lang = [[${lang}]];
var skin = [[${skin}]];
if(lang === "ru"){
$("#create").html("Создать");
$("#btntag").html("Добавить тэг");
$("#namei").attr("placeholder","Введите имя");
$("#tag_add").attr("placeholder", "Введите тэг");

}

if(skin === "dark"){
$("body").css("background-color","black");
}
for(let field in fields){
var k = Object.keys(fields[field]);
var tr = document.createElement("tr");
var td1 = document.createElement("td");
var td2 = document.createElement("td");
var p = document.createElement("p");
p.style.color = skin ==="dark" ? "white" : "black"
var input;
let keys = Object.keys(fields[field]);
if(fields[field][k[2]] !== "largetext" && fields[field][k[2]] !== "select"&& fields[field][k[0]] != false){
input = document.createElement("input");
switch(fields[field][k[2]]){
case "yes_no":
input.type = "checkbox"
break;
case "number":
input.type = "number";
break;
case "string":
input.type = "text";
break;
case "date":
input.type = "date";
break;
}
let a = document.createElement("a");
a.innerHTML = field;
a.style.display = "none";
td1.appendChild(a);
p.innerHTML = fields[field][k[1]]
td1.appendChild(p);
td2.appendChild(input);
tr.appendChild(td1);
tr.appendChild(td2);
inputs.appendChild(tr);
}else if(fields[field][k[0]] != false && fields[field][k[2]] !=="select"){
input = document.createElement("textarea");
p.innerHTML = fields[field][k[1]]
td1.appendChild(p);
td2.appendChild(input);
tr.appendChild(td1);
tr.appendChild(td2);
inputs.appendChild(tr);

}else if(fields[field][k[0]] != false){
let sel = document.createElement("select");
let opts = fields[field][k[1]].split(",");
p.innerHTML = fields[field][k[3]];

for(let y = 0; y < opts.length; y++){
let optionSelect = document.createElement("option");
optionSelect.innerHTML = opts[y];
sel.appendChild(optionSelect);
}
let a = document.createElement("a");
a.innerHTML = field;
a.style.display = "none";
td1.appendChild(a);
td1.appendChild(p);
td2.appendChild(sel);
tr.appendChild(td1);
tr.appendChild(td2);
inputs.appendChild(tr);

}
}
    function addTag(e){
    e.preventDefault();
    var tag = document.createElement("button");
    tag.innerHTML = document.getElementById("tag_add").value;
    tag.id = document.getElementById("tag_add").value;

     // answered Mar 27, 2013 at 1:09 by (Stack Overflow)
    tag.onclick = function(e) {
    e.preventDefault();
    this.parentNode.removeChild(this)
    };
    document.getElementById("tags").appendChild(tag);
    document.getElementById("tag_add").value = "";
    }


    function prepare(e){
    e.preventDefault();
    var tags = "";
    var div_tags = document.getElementById("tags");
    let data = div_tags.childNodes;
    for(let i = 1; i < data.length - 1; i++){
    tags += data[i].innerHTML + ",";
    }
    if(data.length != 0)
    tags+= data[data.length-1].innerHTML;
    document.getElementById("tags_input").value = tags;



    var inputs1 = $("#inputs :input");
    var names = $("#inputs p");
    var key = $("#inputs a");
    var data_send ={};
    for(let i = 0; i < inputs1.length;i++){
    let subJson = {};
    subJson[names[i].innerHTML] = inputs1[i].type === "checkbox" ? inputs1[i].checked : inputs1[i].value;
    data_send[key[i].innerHTML] = subJson;
    }
    document.getElementById("data1").value = JSON.stringify(data_send)
    document.getElementById("create_item").submit();




}

</script>
</body>
</html>