<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeLeaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card-header">
    <div class="row">
        <div class="col-md-3"><h3 align="left">New Collection</h3></div>
    </div>
</div>

<div class="container">
    <form class="form-group" method="post" enctype="multipart/form-data" action="http://localhost:8080/mycollections/add" id="form">
        <label for="name" id="cname">Collection name</label>
        <input type="text" placeholder="Enter collection name" class="form-control" id="name" name="name">
        <label for="Theme">Chose Theme</label>
        <select class="form-control" id="Theme" name="theme">
            <option>Books</option>
            <option>Cars</option>
            <option>Planes</option>
            <option>Wines</option>
        </select>

        <div class="form-group">
            <label for="desc">Content:</label>
            <textarea type="text" rows="4" id="desc" name="desc" placeholder="Content" class="form-control"
                       autocomplete="off"></textarea>
        </div>

        <label for="file" id="img">Upload image</label>
        <input class="form-control" type="file" id="file" name="image">
        <button class="btn btn-success" onclick="prepare(event)" id="sub">Create</button>

        <input type="hidden" id="add_fields" name="data">
        <table class="table" id="add_info">
            <tr>
                <td><p>Visible</p></td>
                <td><p>Name of the Option</p></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="string"></td>
                <td><input type="text" class="form-control" placeholder="Text" id="s1"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="string"></td>
                <td><input type="text" class="form-control" placeholder="Text" id="s2"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="string"></td>
                <td><input type="text" class="form-control" placeholder="Text" id="s3"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="number"></td>
                <td><input type="text" class="form-control" placeholder="Number" id="n1"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="number"></td>
                <td><input type="text" class="form-control" placeholder="Number" id="n2"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="number"></td>
                <td><input type="text" class="form-control" placeholder="Number" id="n3"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="date"></td>
                <td><input type="text" class="form-control" placeholder="Date" id="d1"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="date"></td>
                <td><input type="text" class="form-control" placeholder="Date" id="d2"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="date"></td>
                <td><input type="text" class="form-control" placeholder="Date" id="d3"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="largetext"></td>
                <td><input type="text" class="form-control" placeholder="Large Text" id="l"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="largetext"></td>
                <td><input type="text" class="form-control" placeholder="Large Text" id="l2"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="largetext"></td>
                <td><input type="text" class="form-control" placeholder="Large Text" id="l3"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="yes_no"></td>
                <td><input type="text" class="form-control" placeholder="Yes/No" id="y1"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="yes_no"></td>
                <td><input type="text" class="form-control" placeholder="Yes/No" id="y2"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="yes_no"></td>
                <td><input type="text" class="form-control" placeholder="Yes/No" id="y3"></td>
            </tr>
        </table>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script language="JavaScript" th:inline="javascript">
var simplemde = new SimpleMDE({element: document.getElementById("desc")});
var lang = [[${lang}]];
if(lang === "ru"){
$("#y1").attr("placeholder","Да/Нет")
$("#y2").attr("placeholder","Да/Нет")
$("#y3").attr("placeholder","Да/Нет")
$("#d1").attr("placeholder","Дата")
$("#d2").attr("placeholder","Дата")
$("#d3").attr("placeholder","Дата")
$("#s1").attr("placeholder","Текст")
$("#s2").attr("placeholder","Текст")
$("#s3").attr("placeholder","Текст")
$("#n1").attr("placeholder","Число")
$("#n2").attr("placeholder","Число")
$("#n3").attr("placeholder","Число")
$("#l").attr("placeholder","Большой текст")
$("#l2").attr("placeholder","Большой текст")
$("#l3").attr("placeholder","Большой текст")
$("#add").html("Создать");
$("#cname").html("Имя коллекции");
$("#name").html("Описание");
$("#img").html("Загрузите картинку");
}
function prepare(e){
event.preventDefault();
var json = {};

var table = document.getElementById("add_info");
var inputs = table.getElementsByTagName("input");

for(let i = 0, j = 0; i < inputs.length-1; i+=2, j++){
let subJson ={};
subJson["visible"] = inputs[i].checked;
subJson[inputs[i].value] = inputs[i+1].value;
subJson["type"] = inputs[i].value;
json[j] = subJson;
}
document.getElementById("add_fields").value = JSON.stringify(json)
document.getElementById("form").submit();
}



</script>
</body>
</html>