<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeLeaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card-header">
    <div class="row">
        <div class="col-md-3"><h3 align="left" th:text="${col.name}"></h3></div>
    </div>
</div>

<div class="container">
    <form class="form-group" method="post" enctype="multipart/form-data" action="http://localhost:8080/mycollections/edit" id="form">
        <p><label for="name" id="namel">Collection name</label></p>
        <input type="text" placeholder="Enter collection name" class="form-control" id="name" name="name" th:attr="value = ${col.name}">
        <p><label for="Theme" id="Themel">Chose Theme</label></p>
        <select class="form-control" id="Theme" name="theme">
            <option>Books</option>
            <option>Cars</option>
            <option>Planes</option>
            <option>Wines</option>
        </select>
        <p><label for="desc" id="descl">Enter description</label></p>
        <div class="form-group">
            <label for="desc">Content:</label>
            <textarea type="text" rows="4" id="desc" name="desc" placeholder="Content" class="form-control"
                      autocomplete="off"></textarea>
        </div>

        <p><label for="file" id="upl">Upload image</label></p>
        <input class="form-control" type="file" id="file" name="image">
        <input type="hidden" th:attr="value = ${col.id}" name="id">
        <input type="hidden" id="add_fields" name="data">
        <input type="submit" value="Update" onclick="prepare(event)">
        <table class="table" id="add_info">
            <tr>
                <td><p>Visible</p></td>
                <td><p>Name of the Option</p></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="string"></td>
                <td><input type="text" class="form-control" placeholder="Text" id="s1"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="string"></td>
                <td><input type="text" class="form-control" placeholder="Text" id="s2"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="string"></td>
                <td><input type="text" class="form-control" placeholder="Text" id="s3"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="number"></td>
                <td><input type="text" class="form-control" placeholder="Number" id="n1"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="number"></td>
                <td><input type="text" class="form-control" placeholder="Number" id="n2"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="number"></td>
                <td><input type="text" class="form-control" placeholder="Number" id="n3"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="date"></td>
                <td><input type="text" class="form-control" placeholder="Date" id="d1"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="date"></td>
                <td><input type="text" class="form-control" placeholder="Date" id="d2"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="date"></td>
                <td><input type="text" class="form-control" placeholder="Date" id="d3"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="largetext"></td>
                <td><input type="text" class="form-control" placeholder="Large Text" id="l"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="largetext"></td>
                <td><input type="text" class="form-control" placeholder="Large Text" id="l2"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="largetext"></td>
                <td><input type="text" class="form-control" placeholder="Large Text" id="l3"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="yes_no"></td>
                <td><input type="text" class="form-control" placeholder="Yes/No" id="y1"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="yes_no"></td>
                <td><input type="text" class="form-control" placeholder="Yes/No" id="y2"></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="form-check" value="yes_no"></td>
                <td><input type="text" class="form-control" placeholder="Yes/No" id="y3"></td>
            </tr>
        </table>
    </form>
</div>
<div class="container">
    <div class="card-header"><h3 align="left" id="itemh">Items</h3> <button class="btn btn-success" id="add_item" th:onclick="'javascript:addItem(\''  + ${col.id} +  '\');'">Add Item</button></div>
  <table class="table">
      <tr>

          <td><button class="btn btn-primary" onclick="sortByName()">Sort in <br> alphabetical order</button></td>
          <td><input type="text" placeholder="tag filter" class="form-control" id="tag"><button class="btn btn-primary" onclick="filterByTag()">Filter</button></td>
      </tr>
  </table>
    <table class="table">
        <thead>
        <tr>
            <td id="namei"><p>Name</p></td>
            <td id="tagi"><p>Tags</p></td>
            <td id="actionsi"><p>Actions</p></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td><p th:text = "${item.name}"></p></td>
            <td><p th:each = "tag : ${item.tags}" th:text = "${tag.name}"></p></td>
            <td>
              <div th:switch="${lang}">

                  <div th:case="ru">
                      <button class="btn btn-primary" style="margin-right:7px" th:onclick="'javascript:editItem(\''  + ${item.itemId} +  '\');'">Редактировать</button>
                      <button class="btn btn-danger" style="margin-right:7px"  th:onclick="'javascript:deleteItem(\''  + ${item.itemId} +  '\');'">Удалить</button>
                  </div>

                <div th:case="*">
                <button class="btn btn-primary" style="margin-right:7px" th:onclick="'javascript:editItem(\''  + ${item.itemId} +  '\');'">Edit</button>
                <button class="btn btn-danger" style="margin-right:7px"  th:onclick="'javascript:deleteItem(\''  + ${item.itemId} +  '\');'">Remove</button>
                </div>

              </div>
            </td>
        </tr>
        </tbody>

    </table>

</div>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script language="JavaScript" th:inline="javascript">
var simplemde = new SimpleMDE({element: document.getElementById("desc")});

//answered Nov 21, 2020 at 12:06
//Mahdi Bashirpour
var pos = simplemde.codemirror.getCursor();
simplemde.codemirror.setSelection(pos, pos);
simplemde.codemirror.replaceSelection([[${col.information}]]);

var defaultLang = [[${lang}]];
var defSkin = [[${skin}]];
var col_data = JSON.parse([[${col.data}]]);

setUp();
changeSkin(defSkin,"default");
changeLanguage(defaultLang, "default");

function changeSkin(skin, purpose){
if(skin === "dark"){
defSkin = "dark"
$("body").css("background-color","black")
let ps = document.getElementsByTagName("p");
for(let i = 0; i < ps.length; i++){
ps[i].style.color = "white";
}}}

function setUp(){
let check = $("#add_info :input");
for(let i = 0,j = 0; i < check.length; i+=2,j++){

let key = Object.keys(col_data[j]);
if(col_data[j][key[0]]){
check[i].checked = true;
}
check[i+1].value = col_data[j][key[1]];

}
}

function changeLanguage(lang, purpose){
if(lang === "ru"){
$("#namel").html("Введите имя коллекци");
$("#Themel").html("Выберите тему");
$("#descl").html("Описяние:");
$("#upl").html("Загрузите фото");
$("#namei").html("Наименование");
$("#tagi").html("Тэги");
$("#actionsi").html("Действия");
$("#add_item").html("Добавить айтем");
$("#itemh").html("Айтемы");

$("#y1").attr("placeholder","Да/Нет")
$("#y2").attr("placeholder","Да/Нет")
$("#y3").attr("placeholder","Да/Нет")
$("#d1").attr("placeholder","Дата")
$("#d2").attr("placeholder","Дата")
$("#d3").attr("placeholder","Дата")
$("#s1").attr("placeholder","Текст")
$("#s2").attr("placeholder","Текст")
$("#s3").attr("placeholder","Текст")
$("#n1").attr("placeholder","Число")
$("#n2").attr("placeholder","Число")
$("#n3").attr("placeholder","Число")
$("#l").attr("placeholder","Большой текст")
$("#l2").attr("placeholder","Большой текст")
$("#l3").attr("placeholder","Большой текст")
}
}
 function addItem(id){
location.href = "http://localhost:8080/mycollections/add/item/"+id;
 }

 function editItem(id){
location.href = "http://localhost:8080/mycollections/edit/item/"+id;
 }

 function deleteItem(id){
     $.ajax({url: "http://localhost:8080/mycollections/edit/item/delete/",
     type:"post",
     data:{
     id:id
     },
     success: function(result){
         window.location.reload();
   }
});
}

function prepare(e){
event.preventDefault();
var json = {};

var table = document.getElementById("add_info");
var inputs = table.getElementsByTagName("input");

for(let i = 0, j = 0; i < inputs.length-1; i+=2, j++){
let subJson ={};
subJson["visible"] = inputs[i].checked;
subJson[inputs[i].value] = inputs[i+1].value;
subJson["type"] = inputs[i].value;
json[j] = subJson;
}
document.getElementById("add_fields").value = JSON.stringify(json)
document.getElementById("form").submit();
}

function sortByName(){
location.href = "http://localhost:8080/mycollections/edit/"+[[${col.id}]] +"/sort"
}

function filterByTag(){

let tag = document.getElementById("tag").value;
location.href = "http://localhost:8080/mycollections/edit/"+[[${col.id}]] +"/"+tag;
}

</script>
</body>
</html>