<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeLeaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Add item</title>
</head>
<body>
<div class="card-header"><h3 align="left">New Item</h3></div>

<div class="container">
    <form class="form-group" action="https://itrcourseproject.herokuapp.com/mycollections/edit/item/save" method="post" id="create_item">

        <input type="text" class="form-control" placeholder="Enter Item name" name="name" th:attr="value=${item_name}" id="namei">
        <div  style="display: flex; flex-wrap:wrap;flex-direction:row;border: 1px solid grey; border-radius:15px;" id="tags">
            <button th:each="tag :${tags}" th:text = "${tag.name}" onclick="this.parentNode.removeChild(this)"></button>
        </div>
        <input type="search" list="data" class="form-control" id="tag_add" placeholder="Enter Tag"><br>
        <datalist id="data">
            <div style="display:none" th:each = "tag:${tags}">
                <option th:text = "${tag.name}"></option>
            </div>
        </datalist>
        <button class="btn btn-primary" onclick="addTag(event)" id="btntag">Add Tag</button> <!--- Add tag validation -->
        <input type="hidden" name="tags" id="tags_input">
        <input type="hidden" th:attr="value = ${item_id}" name="id">

        <br>
        <input type="hidden" name="data" id="data1">
        <table class="table" id="additional_info">
            <tr>
                <td id="n">Name</td>
                <td id="v">Value</td>
            </tr>
        </table>
        <br>
        <button class="btn btn-success" onclick="prepare(event)" id="save">Save Changes</button>

    </form>
</div>
<script language="JavaScript" th:inline="javascript">



//initialize additional fields via js

    var add_info = JSON.parse([[${item_data}]])
    var fields = JSON.parse([[${col_data}]]);
    var inputs = document.getElementById("additional_info");

var lang = [[${lang}]];
var skin = [[${skin}]];
if(lang === "ru"){
$("#save").html("Сохранить");
$("#btntag").html("Добавить тэг");
$("#tag_add").attr("placeholder", "Введите тэг");
$("#n").html("Наименование");
$("#v").html("Значение");
$("#namei").attr("placeholder","Введите имя");
}

if(skin === "dark"){
$("body").css("background-color","black");
}


for(let field in fields){
var tr = document.createElement("tr");
var td1 = document.createElement("td");
var td2 = document.createElement("td");
var p = document.createElement("p");
p.style.color = skin === "dark" ? "white" : "black";
var input;
let k = Object.keys(fields[field]);

if(fields[field][k[2]] !== "largetext" && fields[field][k[0]] != false && fields[field][k[2]] !=="select"){
input = document.createElement("input");
switch(fields[field][k[2]]){
case "yes_no":
input.type = "checkbox"
input.checked = add_info[field]===undefined ? "" : add_info[field][fields[field][k[1]]];
break;
case "number":
input.type = "number";
input.value = add_info[field]===undefined ? "" : add_info[field][fields[field][k[1]]];
break;
case "string":
input.type = "text";
input.value = add_info[field]===undefined ? "" : add_info[field][fields[field][k[1]]];
break;
case "date":
input.type = "date";
input.value = add_info[field]===undefined ? "" : add_info[field][fields[field][k[1]]];
break;
}
let a = document.createElement("a");
a.innerHTML = field;
a.style.display = "none";
td1.appendChild(a);
p.innerHTML = fields[field][k[1]]
td1.appendChild(p);
td2.appendChild(input);
tr.appendChild(td1);
tr.appendChild(td2);
inputs.appendChild(tr);

}else if(fields[field][k[0]] != false && fields[field][k[2]] !=="select"){

let a = document.createElement("a");
a.innerHTML = field;
a.style.display = "none";
td1.appendChild(a);
input = document.createElement("textarea");
input.innerHTML = add_info[field]===undefined ? "" : add_info[field][fields[field][k[1]]];
p.innerHTML = fields[field][k[1]]
td1.appendChild(p);
td2.appendChild(input);
tr.appendChild(td1);
tr.appendChild(td2);
inputs.appendChild(tr);
}else if(fields[field][k[0]] != false){
let sel = document.createElement("select");
let opts = fields[field][k[1]].split(",");
p.innerHTML = fields[field][k[3]];

for(let y = 0; y < opts.length; y++){
let optionSelect = document.createElement("option");
optionSelect.innerHTML = opts[y];
sel.appendChild(optionSelect);
}

let a = document.createElement("a");
let prevSelected = document.createElement("p");
prevSelected.innerHTML = "Previously, you have selected:" + add_info[field][fields[field][k[3]]];
a.innerHTML = field;
a.style.display = "none";
td1.appendChild(a);
td1.appendChild(p);
td2.appendChild(sel);
td2.append(prevSelected);
tr.appendChild(td1);
tr.appendChild(td2);
inputs.appendChild(tr);
}
}

    function addTag(e){
    e.preventDefault();
    var tag = document.createElement("button");
    tag.innerHTML = document.getElementById("tag_add").value;
    tag.id = document.getElementById("tag_add").value;

     // answered Mar 27, 2013 at 1:09 by (Stack Overflow)
    tag.onclick = function(e) {
    e.preventDefault();
    this.parentNode.removeChild(this)
    };
    document.getElementById("tags").appendChild(tag);
    document.getElementById("tag_add").value = "";
    }

    function remove(id){
    id.preventDefault();
    this.remove();
    }

    function prepare(e){
    e.preventDefault();
    var tags = "";
    var div_tags = document.getElementById("tags");
    var data = div_tags.childNodes;
    for(let i = 1; i < data.length - 1; i++){
    tags += data[i].innerHTML + ",";
    }
    tags+= data[data.length-1].innerHTML;
    document.getElementById("tags_input").value = tags;



    var inputs1 = $("#additional_info :input");
    var names = $("#additional_info p");
    var key = $("#additional_info a");
    var data_send ={};
    for(let i = 0; i < inputs1.length;i++){
    let subJson = {};
    subJson[names[i].innerHTML] = inputs1[i].type === "checkbox" ? inputs1[i].checked : inputs1[i].value;
    data_send[key[i].innerHTML] = subJson;
    }
    document.getElementById("data1").value = JSON.stringify(data_send)
    document.getElementById("create_item").submit();
    }


</script>
</body>
</html>