<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<html xmlns:th = "http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="card-header"><h4 align="left" th:text="${item.name}"></h4><br><a onclick="changeLanguage('en','new')">EN</a> <a onclick="changeLanguage('ru','new')">RU</a></div>
<div class="container">

    <table class="table">
        <tr>
            <td><p id="itm_name">Item Name</p></td>
            <td><p id="itm_tags">Item Tags</p></td>
        </tr>

        <tr>
            <td><p th:text = "${item.name}"></p></td>
            <td><p th:each = "tag : ${item.tags}" th:text = "${tag.name}"></p></td>
        </tr>

    </table>
    <h6 align="left" id="add_info"><p>Additional info</p></h6>
    <table class="table" id="additional_info" style="width=50%">
        <tr>
            <td><p id="name">Name</p></td>
            <td><p id="val">Value</p></td>
        </tr>

    </table>
</div>
<div class="container">
    <div class="card-header"><h5 align="left" id="comments">Comments</h5></div>
    <input type="hidden" th:attr="value = ${item.itemId}" id="currentItem">
    <table class="table" id="user_comments">
        <tr>
            <td><p id="author">Author</p></td>
            <td><p id="content">Content</p></td>
            <td><p id="action">Action</p></td>
        </tr>
        <tr th:each="com : ${comments}">
            <td><p  th:text="${com.authorOfComment}"></p></td>
            <td><p  th:text="${com.contentOfComment}"></p></td>
            <td>
                <div th:switch ="${com.authorOfComment}">
                    <div th:case="${user.username}">
                        <div th:switch="${lang}">
                            <button case="ru" class="btn btn-danger" th:data-parameter2="${com.commentId}" th:onclick="removeComment(this.getAttribute('data-parameter2'))">Удалить</button>
                            <button case="*"  class="btn btn-danger" th:data-parameter2="${com.commentId}" th:onclick="removeComment(this.getAttribute('data-parameter2'))">Remove</button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <input type="text" id="con_com" placeholder="write your comment..." class="form-control"><button class="btn btn-success"  th:data-parameter1="${user.username}"  th:data-parameter2="${item.itemId}" th:data-parameter3="${user.userId}" th:onclick = "send(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'),this.getAttribute('data-parameter3'))">Post</button>
</div>

<script language="JavaScript" th:inline="javascript">
var ws = new WebSocket(((window.location.protocol === "https:") ? "wss://" : "ws://") + window.location.host + "/comment/post");

var defaultLang = [[${user.lang}]];
var skin = [[${user.skin}]];
changeLanguage(defaultLang, "default");

function changeLanguage(lang, purpose){
if(lang === "ru"){
$("#itm_name").html("Имя");
$("#itm_tags").html("Тэги");
$("#name").html("Наименование");
$("#val").html("Значение");
$("#comments").html("Комментарии");
$("#add_info").html("Дополнительная Информация");
$("#author").html("Автор");
$("#content").html("Содержание");
$("#action").html("Действия");

let btns = document.getElementById("user_comments").getElementsByTagName("button");
for(let i = 0; i < btns.length; i++){
btns[i] = "Удалить";
}

if(purpose === "new" && [[${lang}]] !== null){
$.ajax({url: "http://localhost:8080/lang/change",
     type:"post",
     data:{
     lang: "ru"
     },
     success: function(result){
     window.location.reload();
     }
 });
}
}else{
$("#itm_name").html("Name");
$("#itm_tags").html("Tags");
$("#name").html("Name");
$("#val").html("Value");
$("#comments").html("Comments");
$("#add_info").html("Additional info");
$("#author").html("Author");
$("#content").html("Content");
$("#action").html("Actions");

let btns = document.getElementById("user_comments").getElementsByTagName("button");
for(let i = 0; i < btns.length; i++){
btns[i] = "Remove";
}
if(purpose === "new" && [[${user.lang}]] !== null){
$.ajax({url: "http://localhost:8080/lang/change",
     type:"post",
     data:{
     lang: "en"
     },
     success: function(result){
     window.location.reload();
     }
 });
}
}
}



var info = [[${item.data}]];
var add_info = JSON.parse(info);
var add_info_table = document.getElementById("additional_info");

for(let name in add_info){
let vals = Object.keys(add_info[name]);

let tr = document.createElement("tr");
let td1 = document.createElement("td");
let td2 = document.createElement("td");
let p1 = document.createElement("p");
let p2 = document.createElement("p");
p1.style.color = skin === "dark" ? "white" : "black"
p2.style.color = skin === "dark" ? "white" : "black"
p1.innerHTML = vals[0];
p2.innerHTML = add_info[name][vals[0]];
td1.appendChild(p1);
td2.appendChild(p2);
tr.appendChild(td1);
tr.appendChild(td2);
add_info_table.appendChild(tr);
}

    ws.onmessage = function(e){
    addMessage(e.data);
    }

function addMessage(data){
var mes = JSON.parse(data);


var table_com = document.getElementById("user_comments");
var check = document.getElementById("currentItem").value;
if(Number(mes.itemId) === Number(check)){

var tr = document.createElement("tr");
var author = document.createElement("td");
var content = document.createElement("td");
var par1 = document.createElement("p");
var par2 = document.createElement("p");

par1.style.color = skin === "dark" ? "white" : "black"
par2.style.color = skin === "dark" ? "white" : "black"

par1.innerHTML = mes.author;
par2.innerHTML = mes.content;

author.appendChild(par1);
content.appendChild(par2);

tr.appendChild(author);
tr.appendChild(content);

if(Number(mes.userId) === Number([[${user.userId}]]) || [[$[user.role}]] === "ADMIN"){
var td = document.createElement("td");
var remove = document.createElement("button");
remove.className = "btn btn-danger";

remove.id = "com_"+mes.id
remove.onclick = function(){
  $.ajax({url: "http://localhost:8080/collections/item/comment/delete/",
     type:"DELETE",
     data:{
     id:this.id.split("_")[1],
     itemId:[[${item.itemId}]]
     },
     success: function(result){
         window.location.reload();
   }
});
}
remove.innerHTML = defaultLang === "ru" ? "Удалить" : "Remove";
td.appendChild(remove);
tr.appendChild(td);
}
table_com.appendChild(tr);
}
}
function send(a, id,userid){
if(a !=="" && a !== undefined && a !== null){
var comment = document.getElementById("con_com").value;

var msg = {
 author:a,
 content:comment,
 itemId: id,
 id:0,
 userId:userid
}
 ws.send(JSON.stringify(msg));
}
}

function removeComment(idComment){

 $.ajax({url: "http://localhost:8080/collections/item/comment/delete/",
     type:"DELETE",
     data:{
     id:idComment,
     itemId:[[${item.itemId}]]
     },
     success: function(result){
         window.location.reload();
   }
});
}

if(skin === "dark"){
$("body").css("background-color","black");
document.querySelectorAll('p').forEach(element => element.style.color = "white");
}



</script>
</body>
</html>